<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elixer.bloodbank">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intro.IntroActivity"
            android:theme="@style/AppIntro" />
        <activity android:name=".signin.SignInActivity" />
        <activity android:name=".buildprofile.BuildProfileActivity" />
        <activity android:name=".SetLocationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAINAWSyejBpJ_FdfCXD57yOg9RWvzwdtQ" />

        <activity android:name=".newcampaign.NewCampaignActivity" />
        <activity
            android:name=".newcampaign.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".query.DonorQueryActivity" />

        <receiver android:name=".BloodbankAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bloodbank_app_widget_info" />
        </receiver>
    </application>

</manifest>